<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/shared.css">
</head>

<body>



    {{>header}}
    <div class="body-left"></div>
    <div class="body-right"></div>
    <div class="body-middle">

        <h1>{{name}}{{address}}</h1>>
    </div>

    {{>footer}}
</body>


</html>